@model MovieShopUser.Models.ViewModels.InfoViewModel

@{
    ViewBag.Title = "Info";
}

<style>

    body{
        z-index: 1;
        color: black;
        font-size:larger;
        align-content:center;
    }

    .table tr td {
        border-top: 1px solid black !important;
    }

    .background-image {
        position:fixed;
        left:-15px;
        right: 15px;
        top: -100px;
        z-index: -1;
        
        display: block;
        background-image: url('http://www.planwallpaper.com/static/images/6790904-free-background-wallpaper.jpg');
        width: 150%;
        height: 130%;
        
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
      
    #tableInfo {
          clear:both;
    }

    .img-responsive {
        transition: 0.4s !important;
        -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5) !important;
        -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5) !important;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5) !important;
    }

</style>

<div class="background-image"></div>
<div class="content" style="padding-top:20px;">

    <div class="img-rounded" style="background-color:rgba(128, 128, 128,0.5);">
    <h2 style="text-align:center;">@Model.Movie.Title - @Model.Movie.Year</h2>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="img-responsive">
                    <img class="img-responsive" src="@Model.Movie.imageURL" />
                </div>
            </div>
       
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="@Model.Movie.trailerURL"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

        <td class="col-md-4">@Html.ActionLink("Buy" , "Verification", "Home", new { movieId = Model.Movie.Id }, new { @class = "btn btn-default" })  </td>
<td class="col-md-4">@Html.ActionLink("Add to Cart", "Index", "Home", new { shoppingCartId = Model.Movie.Id }, new { @class = "btn btn-default" }) </td>

<div class="dropdown pull-left" style="margin-right: 3px;">
    <select class="form-control">
        <option>@(@Model.Movie.Price ) DKK</option>
        <option>@(@Model.Movie.Price * @Model.ValutaData.Rates.USD) USD</option>
        <option>@(@Model.Movie.Price * @Model.ValutaData.Rates.EUR) EUR</option>
        <option>@(@Model.Movie.Price * @Model.ValutaData.Rates.CAD) CAD</option>
        <option>@(@Model.Movie.Price * @Model.ValutaData.Rates.GBP) GBP</option>
        <option>@(@Model.Movie.Price * @Model.ValutaData.Rates.CNY) CNY</option>
        <option>@(@Model.Movie.Price * @Model.ValutaData.Rates.JPY) JPY</option>
    </select>
</div>
