<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        
        <div class="container-fluid pull-right" style="clear:both;">
            <ul class="nav navbar-nav">
                @if (Session["Username"] != null)
                {
                    <li>@Html.ActionLink(Session["Username"] as string, "UserProfile", "customer")</li>
                        <li>@Html.ActionLink("Logout", "Userlogout", "customer")</li>
                }
                else
                {

                    <li>
                        <form method="post" action="~/Customer/UserLogin">
                            @Html.TextBox("UserEmail")
                            @Html.Password("Password")
                            <button type="submit" class="btn btn-default">Log in</button>
                        </form>
                    </li>
                    <li>@Html.ActionLink("Register", "NewCustomer", "Customer", null, new { @class = "btn btn-default pull-right", style = "margin-left:3px;" })</li>
                }
            </ul>

        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
